:root{
    --primary-color: rgb(229,9,20);
    --text-color: rgb(255,255,255);
    --secondary-color: #0071eb;
    --third-color: rgba(255,255,255,0.7);
}
/* section#fifth-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
} */
/* section#fourth-section{
    padding-left: 2rem;
    padding-top: 5;
    padding-bottom: 5rem;
} */
/* section#third-section{
    padding-bottom: 5rem;
    padding-top: 5;
    padding-left: 2rem;
} */
/* section#second-section{
    padding-left: 2rem ;
    padding-bottom: 7rem;
} */